@use 'variable' as *;

.btn {
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn--primary {
  background: $color-tertiary;
  color: black;
  font-weight: 600;
}

.btn--watchlist {
  background: $color-primary-light;
  color: $color-primary;
}

.btn--details {
  background: $color-tertiary;
  text-align: center;
  margin-left: 3rem;
}

.btn--right {
  background: $color-tertiary;
  text-align: center;
  margin-top: 0.8rem;
}
