@use 'variable' as *;

.btn {
  border: none;
  padding: 0.8rem 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.btn__icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: currentColor;
}

.btn--primary,
.btn--details {
  background: $color-tertiary;
  color: #111;
  font-weight: 600;
}

.btn--primary:hover,
.btn--details:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

.btn--bookmark {
  background: $color-secondary;
  color: $color-primary;
  padding: 0.8rem 0.9rem;
  text-align: center;
}

.btn--bookmark:hover {
  background: $color-tertiary;
  color: $color-secondary;
  transform: translateY(-2px);
}
